<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Song Recommendation App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Song Recommendation App</h1>
      </div>
      <div class="content">
        <form
          method="POST"
          action="{{ url_for('add_song') }}"
          class="song-input"
        >
          <input type="text" name="song" placeholder="Enter a song" />
          <button type="submit">Add</button>
        </form>
        <div class="songs">
          <h2>Songs</h2>
          <ul>
            {% for song in songs %}
            <li>{{ song }}</li>
            {% endfor %}
          </ul>
        <form method="POST" action="{{ url_for('get_recommendation') }}">
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
