html,
body {
    background-color: #212121;
    color: #fff;
}

.text-header {
    color: #4fc3f7;
}

#live-update-cpu-component {
    margin-top: 50px;
}

.plotly-graph-div .modebar-btn:not(.modebar-btn--hover),
.plotly-graph-div .modebar-btn:not(.modebar-btn--hover):active {
    background-color: #212121 !important;
    color: #fff !important;
}

.plotly-graph-div .modebar-btn--hover,
.plotly-graph-div .modebar-btn--hover:active {
    background-color: #4fc3f7 !important;
    color: #fff !important;
}

.plotly-graph-div .modebar-btn.active {
    background-color: #4fc3f7 !important;
    color: #fff !important;
}

.plotly-graph-div .plotly-notifier,
.plotly-graph-div .notifier-close,
.plotly-graph-div .notifier-message {
    background-color: #212121 !important;
    color: #fff !important;
    border-color: #4fc3f7 !important;
}

.plotly-graph-div .notifier-message:before {
    border-top-color: #4fc3f7 !important;
}

.plotly-graph-div .notifier-close:hover,
.plotly-graph-div .notifier-close:active {
    background-color: #4fc3f7 !important;
}

.plotly-graph-div .legend {
    background-color: #212121 !important;
    color: #fff !important;
    border-color: #4fc3f7 !important;
}

.plotly-graph-div .legendtoggle,
.plotly-graph-div .legendtoggle.active {
    color: #fff !important;
}

.plotly-graph-div .colorbar {
    background-color: #212121 !important;
    color: #fff !important;
    border-color: #4fc3f7 !important;
}

.plotly-graph-div .rangeselector {
    background-color: #212121 !important;
    color: #fff !important;
}

.plotly-graph-div .rangeslider {
    background-color: #212121 !important;
    color: #fff !important;
}

.plotly-graph-div .rangeinput {
    background-color: #212121 !important;
    color: #fff !important;
}

.plotly-graph-div .rangeslider .slider-fill {
    background-color: #4fc3f7 !important;
}

.plotly-graph-div .rangeslider .slider-handle {
    border-color: #4fc3f7 !important;
}

.plotly-graph-div .rangeslider .slider-handle:hover {
    background-color: #4fc3f7 !important;
}

.plotly-graph-div .rangeslider .slider-handle.active {
    background-color: #4fc3f7 !important;
}